/* css styles */
body {
	font-family: Verdana,Arial,Helvetica;
	font-size: 12px;
	color: #000;
}
a {
	color: #555;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #333;
	text-decoration: underline;
}
#container {
	width: 450px;
	margin: 20px auto;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #999;
	background: #fff;
	padding-bottom: 20px;
}
table.tweets {
	width: 400px;
}
.tweetData {
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
h1 {
	text-align: center;
}
input#twitter_search {
	width: 175px;
	border: 1px solid #999;
	padding: 8px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	font-size: 12px;
}
.entry {
	position: relative;
	width: 175px;
	margin: 0 auto;
}
.entry .icon_close {
	cursor: pointer;
	opacity: 0.5;
	display: block;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 11px;
	right: -10px;
}
.entry .icon_close:hover {
	opacity: 1
}
.template {
	display: none;
}
.tweets .usernames,
.tweets .tweet {
	border: 1px solid black;
}